{% extends 'index.html' %}

{% block title %} Inicio {% endblock %}

{% block body %}


<section class="hero-section bg-primary mb-5">
    <div class="container">
        <h1 class="display-4">¡Peluches para todos!</h1>
        <p class="lead">Encuentra el peluche perfecto para regalar</p>

    </div>
</section>

<section class="container mb-5">
    <h2 class="text-center mb-4">Productos Destacados</h2>
    <div class="row g-4">

        {% for item in items %}

        {% if item.in_stock > 0 %}

        <div class="col-md-4">
            <div class="card product-card h-100">

                <a href="/producto/{{item.id}}" class="text-decoration-none text-black">
                    <img src="{{ item.product_picture }}" class="card-img-top" alt="Peluche Unicornio">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.product_name }}</h5>
                        <p class="card-text">{{ item.descripcion }}</p>
                        <p class="  fw-bold fs-5">Antes <s class="text-danger fs-5">${{ item.previous_price }}</s></p>
                        <p class=" fw-bold fs-4">Ahora <span class="text-danger fw-bold fs-4">${{
                                item.current_price}}</span></p>

                </a>


                <a href="/agregar-carrito/{{ item.id }}" class="btn btn-primary">Añadir al carrito</a>
            </div>
        </div>
    </div>

    {% else %}




    {% endif %}



    {% endfor %}


    </div>
</section>


{% endblock %}